.svg {
  max-width: 1200px;
  margin: auto;
  overflow: visible;
  margin-top: 400px;
  width: 100%;
  height: 2000px;

  .theLine {
    width: 100%;
    height: 2000px;
  }

  .ball01 {
    max-width: 421px !important;
  }
}

.ball {
  fill: white;
  visibility: hidden;
}
