.id__save {
    input[type='checkbox']:checked + label {
        color: rgb(203 223 255);
    }

    input[type='checkbox'] + label::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        margin-top: 1px;
        content: '';
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(51 65 85);
        width: 16px;
        height: 16px;
        transition: all .3s;
    }

    input[type='checkbox']:checked + label::before {
        border-color: rgb(203 223 255);
        content: 'V';
        color: rgb(203 223 255);
        font-size: 0.5rem;
    }
}

.member__btn__wrap {
    li {
        a::before {
            content: '';
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-45%);
            width: 1px;
            height: 12px;
            background-color: rgb(51 65 85);
        }
    }

    li:first-of-type {
        a::before {
            content: none;
        }
    }
}