.main__wrapper {
  text-align: center;

  svg {
    margin: auto;

    .cinnamon__body {
      animation: cinnamon__body__ani 6s both;
      stroke-dasharray: 64519;
      stroke-dashoffset: 64519;
     
    }

    @keyframes cinnamon__body__ani {
      0% {
        stroke-dashoffset: 64519;
        
      }
      100% {
        stroke-dashoffset: 0;
       
      }
    }

    .cinnamon__eye {
      animation: cinnamon__eye__ani 1s 2s both;
      stroke-dasharray: 1272;
      stroke-dashoffset: 1272;
    }

    @keyframes cinnamon__eye__ani {
      0% {
        stroke-dashoffset: 1272;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

    .cinnamon__mouth {
      animation: cinnamon__mouth__ani 1s 2s both;
      stroke-dasharray: 3503;
      stroke-dashoffset: 3503;
    }

    @keyframes cinnamon__mouth__ani {
      0% {
        stroke-dashoffset: 3503;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }
}

.marketing__lab {
  transform: translateY(-200px);
}

.mask path {
  fill: #fff;
  stroke: #fff;
}

.mask__2 {
  fill: none;
  stroke: #5DC7EE;
  stroke-width: 25px;
  stroke-dasharray: 2238;
  animation: strokeAni 3s linear both;
}


@keyframes strokeAni {
  0% {
    stroke-dashoffset: 2238;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

