.head__section {
  height: var(--vh);
}

.text__section {
  margin-bottom: 50px;
}

.image__section {
  margin-bottom: 100px;
}

.image__section + .image__section {
  margin-bottom: 50px;
}

.text__section:last-of-type {
  margin-bottom: 200px;
}

.wrapper li {
  flex-shrink: 0;
  padding-right: 1rem;
}

.scene {
  background-color: transparent;
  height: 895px;
}

.viewer {
  background-image: url('/img/cinnamoroll_frame_b.png?new');
  background-repeat: no-repeat;
  background-position: 0 50%;
  max-width: 1000px;
}